body {

}

.container {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column
}
.break {
    width: 100%;
}
.container button{
    display: block;
    width: 30%;
    margin: 1rem auto;
}
